[flake8]
exclude =
    *migrations*
    *.git
    */__pycache__/*
    */__init__.py
    *grpc*
ignore = VNE002
extend-immutable-calls = Depends, fastapi.Depends, fastapi.params.Depends
max-line-length=100
max-cognitive-complexity=8
inline-quotes = '
